
<!DOCTYPE html>
<html lang=sv>
<head>
    <meta charset=utf-8>
    <meta name=viewport content=width=device-width, initial-scale=1>
    <title>Theo Englund</title>
    <link rel=stylesheet href=style.css>
</head>
<body>

    <header>
        <h1>Theo Englund - blogg</h1>
        <p></p>
    </header>

    <hr>

    <nav>
     <table style="width: 100%;">
        <tr>
            <td>
                [ <a href="index.html">Tillbaka</a> ]
                [ <a href="blog.html">Blogg</a> ]
            </td>
            <td style="text-align: right;">
                [ <a href="feed.xml">RSS</a> ]
            </td>
        </tr>
      </table>
    </nav>


    <hr>

     <main>
      <div class="blog">
        {{ content }}
      </div>
     </main>

    <footer>
        <hr>
        <p>senast uppdaterad: 2026-09-10</p>
        <p>Theo Englund &copy; 2026</p>
    </footer>

</bod
  y>
</html>
